body {
  text-align: center;
}

h1 span {
  background-color: rgba(169, 169, 169, 0.5);
  border-radius: 35px;
  border: 2px;
  border-style: solid;
  border-color: gold;
}

.instructions span {
  background-color: rgba(169, 169, 169, 0.5);
  border: solid;
  border-style: 2px;
  border-radius: 35px;
  border-color: gold;
  font-weight: bold;
}

.champContainer {
  display: grid;
  grid-template-columns: auto;
  justify-content: space-evenly;
}

.champImage {
  grid-row: 1 / 1;
  width: 250px;
  margin-top: 200px;
}

.champImage:hover {
  transform: scale(1.5);
}

.champName {
  display: inline-block;
  justify-content: center;
  text-align: center;
  grid-row: 2 / 2;
  color: lightblue;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  font-weight: 900;
}

.champTitle {
  margin-top: 0px;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  color: lightblue;
  font-weight: 900;
}

@media screen and (max-width: 800px) {
  .champContainer {
    display: flex;
    flex-direction: column;
  }

  .champImage {
    width: 100px;
    justify-content: center;
    align-self: center;
  }
}

body {
  background-image: url(https://raw.githubusercontent.com/DeanLeong/league_champions/master/rift_picture/02_Summoner_s_Rift_hi182k3q611izhk9dbql.jpg)
}

/* set max px for champ images */