body {
  text-align: center;
}

h1 span {
  background-color: #96938c;
}

.instructions span {
  background-color: #96938c;
}

.champContainer {
  display: grid;
  grid-template-columns: auto;
  justify-content: space-evenly;
}

.champImage {
  grid-row: 1 / 1;
  width: 250px;
  margin-top: 200px;
}

.champImage:hover {
  transform: scale(1.5);
}

.champName {
  display: inline-block;
  width: auto;
  grid-row: 2 / 2;
  background-color: #96938c;
}

.champTitle {
  margin-top: 0px;
  background-color: #96938c;
}

@media screen and (max-width: 800px) {
  .champContainer {
    display: flex;
    flex-direction: column;
  }

  .champImage {
    width: 100px;
    justify-content: center;
    align-self: center;
  }
}

body {
  background-image: url(https://raw.githubusercontent.com/DeanLeong/league_champions/master/rift_picture/02_Summoner_s_Rift_hi182k3q611izhk9dbql.jpg)
}

/* set max px for champ images */